*.orig
*.pyc
*.swp
.env

# IDE
/.idea/
/.vscode/

# OS
.DS_Store

# Dependencies
node_modules/

# Next.js
.next/
out/

# Dashboard
*.db
/data/*
/data/db/
/data/dumps/
/data/logs/

# Build artifacts
/dist/
